:host {
    display: flex;
    padding: 3px;
    background: var(--list-color-border, #f1f1f1);
}
:host(:focus) {
    outline: none;
}
:focus {
    box-shadow: none;
    outline: none;
}
#search {
    background: var(--list-color-back, #ffffff);
    border: none;
    border-radius: 0;
}
#search:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
}
#search:focus:not(:focus-visible)  {
    box-shadow: none;
    outline: none;
}