:host {
    display: block;
    width: 100%;
    padding: 5px;
    color: var(--button-text-color, #000000);
    user-select: none;
    cursor: pointer;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
#container #name {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 1em;
}
#container #type {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 0.7em;
}