:host {
    box-sizing: border-box;
    z-index: 900900;
    pointer-events: all;
}
#modal {
    width: auto;
    min-width: 20vw;
}
#cancel {
    margin: 2px;
    text-transform: uppercase;
}
#elements [template] {
    cursor: pointer;
}