#container {
    display: flex;
    min-width: 200px;
    width: 100%;
}
#input {
    flex-grow: 1;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 6px) 0px 0px var(--form-border-radius, 6px);
    font-size: 1em;
}
#input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
:host(:invalid) #input {
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}
:host(:invalid) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
#input::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}
#show {
    width: 2em;
    height: 2em;
    margin-left: calc(-1 * var(--form-border-width, 2px));
    border-radius: 0px var(--form-border-radius, 6px) var(--form-border-radius, 6px) 0px;
}
#show:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
:host(:invalid) #show {
    border-color: var(--input-invalid-border-color, #ff4444);
}
:host(:invalid) #show:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
:disabled {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}
