:host {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    min-width: min-content;
    width: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    font-size: 1em;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 6px;
    color: var(--form-text-color, #000000);
    /* background-color: var(--form-back-color, #ffffff); */
}
.container:hover {
    color: var(--form-hover-text-color, #000000);
    background-color: var(--form-hover-back-color, #eeeeee);
}
#label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    padding: 4px;
    cursor: pointer;
    user-select: none;
}
:host(:disabled) #label {
    cursor: default;
}
:host([resettable]:not([resettable="false"])) #reset {
    display: block;
}
#text {
    margin-left: 5px;
    margin-bottom: 5px;
}
#text:empty {
    display: none;
}
#field-container {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    min-width: 100px;
}
#field-container input:invalid {
    background-color: var(--input-invalid-back-color, #ffebeb);
}
#error {
    display: block;
    flex-shrink: 0;
    padding: 0px 5px;
    margin-top: 5px;
    color: var(--form-invalid-text-color, #a70000);
    background-color: var(--form-invalid-back-color, #ffeeee);
    font-size: 0.9em;
    line-height: 1.4em;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}
#error:empty {
    display: none;
}
#description {
    display: block;
    flex-shrink: 0;
    padding: 0px 5px;
    margin-top: 5px;
    font-size: 0.9em;
    line-height: 1.4em;
    font-style: italic;
    cursor: default;
    user-select: none;
}
#description:empty {
    display: none;
}
#field > * {
    width: auto;
}