#input {
    flex-grow: 1;
    height: 2rem;
    padding: 0px 7px;
    border: none;
}
#input:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
#input:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}
#reset {
    display: none;
    width: 32px;
    height: 32px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
:host([resettable]:not([resettable="false"])) #reset {
    display: block;
}