:host {
    display: flex;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 0.25em);
}
#input {
    position: absolute;
    flex-grow: 1;
    height: 100%;
    margin-right: 2em;
    background-color: transparent;
    border: none;
    font-size: 1em;
    opacity: 0;
    z-index: -100;
}
#input.active {
    position: relative;
    opacity: 1;
    z-index: 0;
}
#input:focus {
    outline: none;
}
#input[readonly] {
    cursor: pointer;
}
#view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    margin-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
#view:focus {
    outline: none;
}
#view.disabled {
    cursor: default;
    pointer-events: none;
}
#input.active + #view {
    display: none;
}
#placeholder {
    font-style: italic;
}
#button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    width: 2em;
    height: 100%;
    line-height: 1.2em;
    cursor: pointer;
}
#button:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #000000);
}
#button.disabled {
    color: var(--input-disabled-text-color, #424242);
    background-color: var(--input-disabled-back-color, #999999);
    cursor: default;
    pointer-events: none;
}
#input:focus + #button {
    outline: none;
    z-index: 1;
}
#scroll-container {
    position: fixed;
    display: none;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--input-back-color, #ffffff);
    border: solid 1px var(--input-border-color, #000000);
    z-index: 1000;
    box-shadow: black 2px 2px 2px;
}
#options-container {
    display: block;
    width: 100%;
}
::slotted([value]) {
    display: flex;
    align-items: center;
    min-height: 2rem;
    padding: 5px;
    white-space: normal;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border-bottom: solid 1px var(--input-button-color, #cccccc);
    font-size: 1rem;
}
::slotted([value][disabled]) {
    display: none;
}
::slotted([value]:hover),
::slotted([value].marked) {
    background-color: var(--input-button-color, #cccccc);
}
:host(:not([readonly])) ::slotted([value]:not(.active)),
:host([readonly="false"]) ::slotted([value]:not(.active)),
:host([multiple]:not([multiple="false"]):not([readonly])) ::slotted([value].active),
:host([readonly="false"][multiple]:not([multiple="false"])) ::slotted([value].active) {
    cursor: pointer;
}
#empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    min-height: 2rem;
    padding: 5px;
    margin: 5px 2px;
    white-space: normal;
}