#input {
    flex-grow: 1;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 0.25em);
}
#input:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
:host(:invalid) #input {
    background-color: var(--input-invalid-back-color, #ffcccc);
    border-color: var(--input-invalid-border-color, #b93d3d);
}
#button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    width: 2em;
    height: 2em;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #cccccc);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: 0px var(--form-border-radius, 0.25em) var(--form-border-radius, 0.25em) 0px;
    line-height: 1.2em;
}
#button:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #000000);
}
#input:disabled + #button {
    color: var(--input-disabled-text-color, #424242);
    background-color: var(--input-disabled-back-color, #999999);
    cursor: default;
}
#input:focus + #button {
    outline: none;
    z-index: 1;
}
:host(:invalid) #button {
    background-color: var(--input-invalid-back-color, #ffcccc);
    border-color: var(--input-invalid-border-color, #b93d3d);
}
#scroll-container {
    position: fixed;
    display: none;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--input-back-color, #ffffff);
    border: solid 1px var(--input-border-color, #000000);
    z-index: 1000;
    box-shadow: black 2px 2px 2px;
}
#options-container {
    display: block;
    width: 100%;
}
::slotted([value]) {
    display: flex;
    align-items: center;
    min-height: 2rem;
    padding: 5px;
    white-space: normal;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border-bottom: solid 1px var(--input-button-color, #cccccc);
    font-size: 1rem;
}
::slotted([value][disabled]) {
    display: none;
}
::slotted([value]:hover),
::slotted([value].marked) {
    background-color: var(--input-button-color, #cccccc);
}
:host(:not([readonly])) ::slotted([value]:not(.active)),
:host([readonly="false"]) ::slotted([value]:not(.active)),
:host([multiple]:not([multiple="false"]):not([readonly])) ::slotted([value].active),
:host([readonly="false"][multiple]:not([multiple="false"])) ::slotted([value].active) {
    cursor: pointer;
}
#empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    min-height: 2rem;
    padding: 5px;
    margin: 5px 2px;
    white-space: normal;
}