:host {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border: solid 2px #777;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#title {
    display: flex;
    top: 0;
    padding: 8px;
    background-color: #777;
    color: #fff;
}
#body {
    position: relative;
    display: block;
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;
}