#input {
    flex-grow: 1;
    height: 2em;
    font-size: 1em;
}
:disabled {
    background-color: initial !important;
    border-color: initial !important;
    cursor: default !important;
}