#field {
    display: flex;
    flex-direction: column;
    height: 300px;
    min-width: 200px;
    padding: 0px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
}

:host(:invalid) #field {
    color: var(--input-invalid-text-color, #000000);
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}

:host(:disabled) #field {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none);
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
    opacity: 1 !important;
}

#header {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: var(--input-border-width, 2px);
    border-bottom-color: var(--input-border-color, #222222);
}

:host(:invalid) #header {
    border-bottom-color: var(--input-invalid-border-color, #ff4444);
}

:host(:disabled) #header {
    border-bottom-color: var(--input-disabled-border-color, #6a6a6a) !important;
}

.footer {
    display: flex;
    padding: 6px;
    border-top-style: solid;
    border-top-width: var(--input-border-width, 2px);
    border-top-color: var(--input-border-color, #222222);
}

:host(:invalid) .footer {
    border-top-color: var(--input-invalid-border-color, #ff4444);
}

:host(:disabled) .footer {
    border-top-color: var(--input-disabled-border-color, #6a6a6a) !important;
}

#list {
    flex: 1;
    width: auto;
    margin: 0px;
    border: none;
    border-radius: 0;
}

#options-container {
    display: none;
}

.multi-select {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    appearance: none;
    flex-grow: 0;
    width: 22px;
    height: 22px;
    padding: 2px;
    margin: 10px 2px 10px 6px;
    color: var(--datagrid-select-cell-text-color, #505050);
    background-color: var(--datagrid-select-cell-back-color, #ffffff);
    border-style: solid;
    border-width: 2px;
    border-color: var(--datagrid-select-cell-border-color, #000000);
    border-radius: 0.3em;
    font-size: 16px;
    cursor: pointer;
}

:host([multiple]:not([multiple="false"])) .multi-select {
    display: inline-flex;
}

.multi-select:checked {
    color: var(--datagrid-select-cell-checked-text-color, #ffffff);
    background-color: var(--datagrid-select-cell-checked-back-color, #505050);
    border-color: var(--datagrid-select-cell-checked-border-color, #000000);
}

.multi-select:indeterminate {
    color: var(--datagrid-select-cell-indeterminate-text-color, #505050);
    background-color: var(--datagrid-select-cell-indeterminate-back-color, #ffffff);
    border-color: var(--datagrid-select-cell-indeterminate-border-color, #000000);
}

.multi-select::before {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: bold;
}

.multi-select:checked::before {
    content: "✖";
}

.multi-select:indeterminate::before {
    width: 70%;
    height: 70%;
    background-color: var(--datagrid-select-cell-indeterminate-text-color, #000000);
    border-radius: 50%;
    content: "";
}

.multi-select:indeterminate::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    background-color: var(--datagrid-select-cell-indeterminate-back-color, #ffffff);
    border-radius: 50%;
    content: "";
}

:host([selectend]:not([selectend="false"])) .multi-select {
    margin: 10px 7px 10px 1px;
}

:host([disabled]:not([disabled="false"])) .multi-select {
    color: var(--datagrid-disabled-select-cell-text-color, #757575) !important;
    background-color: var(--datagrid-disabled-select-cell-back-color, #999999) !important;
    border-color: var(--datagrid-disabled-select-cell-border-color, #6a6a6a) !important;
    cursor: default !important;
}

:host([readonly]:not([readonly="false"])) .multi-select {
    pointer-events: none;
}
