#modal {
    width: 100%;
    min-width: 20vw;
}
#json {
    flex-grow: 1;
    height: 40vh;
    width: 40vw;
    min-height: 20vh;
    max-height: 40vh;
    min-width: 20vw;
    max-width: 900px;
    padding: 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 6px);
    font-size: 1em;
    overflow: scroll;
}
#json:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}
#json:invalid {
    background-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}
#json:invalid:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
#json::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}
#error {
    display: block;
    flex-shrink: 0;
    padding: 0px 5px;
    margin-top: 5px;
    color: var(--form-invalid-text-color, #a70000);
    background-color: var(--form-invalid-back-color, #ffeeee);
    font-size: 0.9em;
    line-height: 1.4em;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}
#error:empty {
    display: none;
}
#submit,
#cancel {
    margin: 2px;
}