:host {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 900700;
}
:host(:empty) {
    display: none;
}
:host(.inactive) {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    z-index: 900699;
}