:host {
    display: flex;
    height: 3em;
    min-width: 200px;
    padding: 0px calc(7px + 2em) 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border: solid var(--form-border-width, 2px) var(--input-border-color, #222222);
    border-radius: var(--form-border-radius, 6px);
}
:host(:disabled) {
    color: var(--input-disabled-text-color, #757575) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    background-image: var(--input-disabled-back-image, none) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}
:host(:focus) {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}
:host(:invalid) {
    background-color: var(--input-invalid-back-color, #ffebeb);
    background-image: var(--input-invalid-back-image, none);
    border-color: var(--input-invalid-border-color, #ff4444);
}
:host(:invalid:focus) {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
#input {
    position: absolute;
    flex-grow: 1;
    height: 100%;
    width: 0px;
    color: var(--input-text-color, #000000);
    background-color: transparent;
    border: none;
    font-size: 1em;
    opacity: 0;
    z-index: -100;
}
#input.active {
    position: relative;
    opacity: 1;
    z-index: 0;
}
#input:focus {
    outline: none;
}
#input[readonly] {
    cursor: pointer;
}
#input::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}
#view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
#view:focus {
    outline: none;
}
#view.disabled {
    cursor: default;
    pointer-events: none;
}
#input.active + #view {
    display: none;
}
#value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
#value #name {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 1em;
}
#value #type {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 0.7em;
}
#placeholder {
    color: var(--input-placeholder-text-color, #757575);
}
#button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    width: 2em;
    height: 100%;
    line-height: 1.2em;
    cursor: pointer;
}
#button.disabled {
    color: var(--button-disabled-text-color, #757575);
    background-color: var(--button-disabled-back-color, #999999);
    background-image: var(--button-disabled-back-image, none);
    cursor: default;
    pointer-events: none;
}
#input:focus + #button {
    outline: none;
    z-index: 1;
}
#button:after {
    position: relative;
    display: block;
    border: solid 0.25em transparent;
    border-bottom-color: var(--input-text-color, #000000);
    border-right-color: var(--input-text-color, #000000);
    transform: translateY(-0.125em) rotate(45deg);
    content: " ";
}
#scroll-container {
    position: fixed;
    display: none;
    max-height: 300px;
    margin: 4px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    background-image: var(--input-back-image, none);
    border: solid var(--form-border-width, 2px) var(--input-border-color, #222222);
    border-radius: var(--form-border-radius, 6px);
    z-index: 1000;
    box-shadow: #000000 4px 4px 8px -4px;
}
#options-container {
    display: block;
    width: 100%;
}
::slotted(emc-select-relation-entry) {
    color: var(--select-option-text-color, #000000);
    background-color: var(--select-option-back-color, #ffffff);
    background-image: var(--select-option-back-image, none);
    font-size: 1rem;
}
::slotted(emc-select-relation-entry:not(:last-child)) {
    border-bottom: solid 1px var(--select-option-divider-color, #949494);
}
::slotted(emc-select-relation-entry[disabled]),
::slotted(:not(emc-select-relation-entry)) {
    display: none;
}
::slotted(emc-select-relation-entry:hover),
::slotted(emc-select-relation-entry.marked) {
    color: var(--select-option-marked-text-color, #000000);
    background-color: var(--select-option-marked-back-color, #b1f4ff);
    background-image: var(--select-option-marked-back-image, none);
}
::slotted(emc-select-relation-entry.selected) {
    color: var(--select-option-selected-text-color, #000000);
    background-color: var(--select-option-selected-back-color, #dbdbdb);
    background-image: var(--select-option-selected-back-image, none);
}
::slotted(emc-select-relation-entry.selected:hover),
::slotted(emc-select-relation-entry.selected.marked) {
    color: var(--select-option-selected-marked-text-color, #000000);
    background-color: var(--select-option-selected-marked-back-color, #26e0ff);
    background-image: var(--select-option-selected-marked-back-image, none);
}
:host(:not([readonly])) ::slotted(emc-select-relation-entry:not(.active)),
:host([readonly="false"]) ::slotted(emc-select-relation-entry:not(.active)),
:host([multiple]:not([multiple="false"]):not([readonly])) ::slotted(emc-select-relation-entry.active),
:host([readonly="false"][multiple]:not([multiple="false"])) ::slotted(emc-select-relation-entry.active) {
    cursor: pointer;
}
#empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    min-height: 2rem;
    padding: 5px;
    margin: 5px 2px;
    white-space: normal;
}
.hidden {
    display: none !important;
}
