:host {
    display: contents;
}
#container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
}
#container > * {
    margin: 0px;
}
#container > *:focus {
    z-index: 1;
}
#first {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#decrease,
#increase {
    border-radius: 0px;
}
#last {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#current,
#size {
    height: 2em;
    padding: 0px 10px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    font-size: 1em;
    text-align: end;
}
#current:focus,
#size:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}
#current::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}
#current::-webkit-outer-spin-button,
#current::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
#max,
#max-text {
    display: flex;
}
#size-text,
#total-text,
#total {
    display: none;
}
#max,
#total,
#max-text,
#size-text,
#total-text {
    justify-content: center;
    align-items: center;
    width: min-content;
    height: 2em;
    padding: 0px 10px;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
    border: solid var(--form-border-width, 2px) var(--button-border-color, #000000);
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    font-size: 1rem;
}
#size,
#total {
    border-top-right-radius: var(--form-border-radius, 6px);
    border-bottom-right-radius: var(--form-border-radius, 6px);
}
#decrease,
#increase,
#max-text {
    margin-left: calc(var(--form-border-width, 2px) * -1);
    margin-right: calc(var(--form-border-width, 2px) * -1);
}
#size-text,
#total-text {
    margin-left: 10px;
    margin-right: calc(var(--form-border-width, 2px) * -1);
    border-top-left-radius: var(--form-border-radius, 6px);
    border-bottom-left-radius: var(--form-border-radius, 6px);
}
#current:disabled {
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
}
#size {
    display: none;
    cursor: pointer;
}
#size:disabled {
    cursor: default;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
    opacity: 1;
    appearance: none;
}
#first:disabled,
#decrease:disabled,
#increase:disabled,
#last:disabled {
    border: solid var(--form-border-width, 2px) var(--button-border-color, #000000);
}
:host([show-size]:not([show-size="false"])) #size-text,
:host([show-total]:not([show-total="false"])) #total-text,
:host([show-total]:not([show-total="false"])) #total {
    display: flex;
}
:host([show-size]:not([show-size="false"])) #size {
    display: inline-block;
}