#input {
    flex-grow: 1;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: solid 2px var(--form-border-color, #000000);
    border-radius: 4px 0px 0px 4px;
}
#input:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
:host(:invalid) #input {
    background-color: var(--input-invalid-back-color, #ffcccc);
    border-color: var(--input-invalid-border-color, #b93d3d);
}
#show {
    width: 2em;
    height: 2em;
    margin-left: -1px;
    border-radius: 0px 4px 4px 0px;
}
:host(:invalid) #show {
    border-color: var(--input-invalid-border-color, #b93d3d);
}