:host {
    display: flex;
    width: min-content;
    height: 2em;
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 0.25em);
    overflow: hidden;
    font-size: 1rem;
}
:host(:disabled) {
    border-color: var(--input-disabled-border-color, #6a6a6a);
}
:host(:focus) {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    margin: 0px;
    appearance: none;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #cccccc);
    border: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    cursor: pointer;
}
#button:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #000000);
}
#button:disabled {
    color: var(--input-disabled-text-color, #424242);
    background-color: var(--input-disabled-back-color, #999999);
    cursor: default;
}
#button:focus {
    box-shadow: none;
    outline: none;
}
#button[icon]:not([icon=""])::before {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    font-size: 1.3em;
    line-height: 1em;
    font-weight: bold;
    content: attr(icon);
}