:host {
    display: flex;
    width: min-content;
    height: 2em;
    padding: 0px 10px;
    margin: 10px;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
    background-image: var(--button-back-image, none);
    border-style: solid;
    border-width: var(--button-border-width, 2px);
    border-color: var(--button-border-color, #222222);
    border-radius: var(--button-border-radius, 6px);
    user-select: none;
    overflow: hidden;
    font-size: 1rem;
    cursor: pointer;
}
:host([primary]:not([primary="false"])) {
    color: var(--button-primary-text-color, #000000);
    background-color: var(--button-primary-back-color, #00dbd0);
    background-image: var(--button-primary-back-image, none);
    border-color: var(--button-primary-border-color, #007b75);
}
:host([secondary]:not([secondary="false"])) {
    color: var(--button-secondary-text-color, #000000);
    background-color: var(--button-secondary-back-color, #00dbd0);
    background-image: var(--button-secondary-back-image, none);
    border-color: var(--button-secondary-border-color, #007b75);
}
:host(:hover) {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #353935);
    background-image: var(--button-hover-back-image, none);
    border-color: var(--button-hover-border-color, #222222);
}
:host([primary]:not([primary="false"]):hover) {
    color: var(--button-primary-hover-text-color, #ffffff);
    background-color: var(--button-primary-hover-back-color, #353935);
    background-image: var(--button-primary-hover-back-image, none);
    border-color: var(--button-primary-hover-border-color, #222222);
}
:host([secondary]:not([secondary="false"]):hover) {
    color: var(--button-secondary-hover-text-color, #ffffff);
    background-color: var(--button-secondary-hover-back-color, #353935);
    background-image: var(--button-secondary-hover-back-image, none);
    border-color: var(--button-secondary-hover-border-color, #222222);
}
:host(:disabled) {
    color: var(--button-disabled-text-color, #757575) !important;
    background-color: var(--button-disabled-back-color, #999999) !important;
    background-image: var(--button-disabled-back-image, none) !important;
    border-color: var(--button-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}
:host(:focus) {
    box-shadow: 0 0 2px 3px var(--button-focus-color, #06b5ff);
    outline: none;
}
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: inherit;
    background-color: transparent;
    border: none;
    appearance: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    white-space: pre;
    word-break: keep-all;
    cursor: inherit;
}
:host([text-transform="lowercase"]) #button {
    text-transform: lowercase;
}
:host([text-transform="uppercase"]) #button {
    text-transform: uppercase;
}
:host([text-transform="capitalize"]) #button {
    text-transform: capitalize;
}
#button:focus {
    outline: none;
}
#button[icon]:not([icon=""])::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    font-size: 1.3em;
    line-height: 1em;
    font-family: "monospace", monospace;
    font-weight: bold;
    transform-origin: center;
    content: attr(icon);
}
:host([text]:not([text=""])) #button::before {
    margin-right: 5px;
}
:host(.rotate-icon-90) #button::before {
    rotate: 90deg;
}
:host(.rotate-icon-180) #button::before {
    rotate: 180deg;
}
:host(.rotate-icon-270) #button::before {
    rotate: 270deg;
}
