
.icon-add:before { content: '\e800'; } /* '' */
.icon-add-circle:before { content: '\e801'; } /* '' */
.icon-add-ring:before { content: '\e802'; } /* '' */
.icon-add-square:before { content: '\e803'; } /* '' */
.icon-alert:before { content: '\e804'; } /* '' */
.icon-alert-circle:before { content: '\e805'; } /* '' */
.icon-alert-ring:before { content: '\e806'; } /* '' */
.icon-alert-triangle:before { content: '\e807'; } /* '' */
.icon-arrow-down:before { content: '\e808'; } /* '' */
.icon-arrow-down-circle:before { content: '\e809'; } /* '' */
.icon-arrow-left:before { content: '\e80a'; } /* '' */
.icon-arrow-left-circle:before { content: '\e80b'; } /* '' */
.icon-arrow-right:before { content: '\e80c'; } /* '' */
.icon-arrow-right-circle:before { content: '\e80d'; } /* '' */
.icon-arrow-up:before { content: '\e80e'; } /* '' */
.icon-arrow-up-circle:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-cancel-circle:before { content: '\e811'; } /* '' */
.icon-cancel-ring:before { content: '\e812'; } /* '' */
.icon-cancel-square:before { content: '\e813'; } /* '' */
.icon-chevron-down:before { content: '\e814'; } /* '' */
.icon-chevron-down-circle:before { content: '\e815'; } /* '' */
.icon-chevron-left:before { content: '\e816'; } /* '' */
.icon-chevron-left-circle:before { content: '\e817'; } /* '' */
.icon-chevron-right:before { content: '\e818'; } /* '' */
.icon-chevron-right-circle:before { content: '\e819'; } /* '' */
.icon-chevron-up:before { content: '\e81a'; } /* '' */
.icon-chevron-up-circle:before { content: '\e81b'; } /* '' */
.icon-circle:before { content: '\e81c'; } /* '' */
.icon-circle-arrow:before { content: '\e81d'; } /* '' */
.icon-circle-arrow-reverse:before { content: '\e81e'; } /* '' */
.icon-circle-arrows:before { content: '\e81f'; } /* '' */
.icon-circle-arrows-reverse:before { content: '\e820'; } /* '' */
.icon-cloud:before { content: '\e821'; } /* '' */
.icon-code:before { content: '\e822'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-cog-multi:before { content: '\e824'; } /* '' */
.icon-copy:before { content: '\e825'; } /* '' */
.icon-cross:before { content: '\e826'; } /* '' */
.icon-crown:before { content: '\e827'; } /* '' */
.icon-deny:before { content: '\e828'; } /* '' */
.icon-direction-down:before { content: '\e829'; } /* '' */
.icon-direction-down-circle:before { content: '\e82a'; } /* '' */
.icon-direction-left:before { content: '\e82b'; } /* '' */
.icon-direction-left-circle:before { content: '\e82c'; } /* '' */
.icon-direction-right:before { content: '\e82d'; } /* '' */
.icon-direction-right-circle:before { content: '\e82e'; } /* '' */
.icon-direction-up:before { content: '\e82f'; } /* '' */
.icon-direction-up-circle:before { content: '\e830'; } /* '' */
.icon-download:before { content: '\e831'; } /* '' */
.icon-edit:before { content: '\e832'; } /* '' */
.icon-ellipsis:before { content: '\e833'; } /* '' */
.icon-ellipsis-vertical:before { content: '\e834'; } /* '' */
.icon-eye:before { content: '\e835'; } /* '' */
.icon-eye-striked:before { content: '\e836'; } /* '' */
.icon-file:before { content: '\e837'; } /* '' */
.icon-filter:before { content: '\e838'; } /* '' */
.icon-folder:before { content: '\e839'; } /* '' */
.icon-folder-open:before { content: '\e83a'; } /* '' */
.icon-group:before { content: '\e83b'; } /* '' */
.icon-group-add:before { content: '\e83c'; } /* '' */
.icon-group-minus:before { content: '\e83d'; } /* '' */
.icon-info:before { content: '\e83e'; } /* '' */
.icon-info-ring:before { content: '\e83f'; } /* '' */
.icon-info-circle:before { content: '\e840'; } /* '' */
.icon-input:before { content: '\e841'; } /* '' */
.icon-link:before { content: '\e842'; } /* '' */
.icon-link-external:before { content: '\e843'; } /* '' */
.icon-location:before { content: '\e844'; } /* '' */
.icon-lock:before { content: '\e845'; } /* '' */
.icon-lock-open:before { content: '\e846'; } /* '' */
.icon-logic:before { content: '\e847'; } /* '' */
.icon-long-arrow-down:before { content: '\e848'; } /* '' */
.icon-long-arrow-left:before { content: '\e849'; } /* '' */
.icon-long-arrow-right:before { content: '\e84a'; } /* '' */
.icon-long-arrow-up:before { content: '\e84b'; } /* '' */
.icon-menu:before { content: '\e84c'; } /* '' */
.icon-minus:before { content: '\e84d'; } /* '' */
.icon-minus-circle:before { content: '\e84e'; } /* '' */
.icon-minus-ring:before { content: '\e84f'; } /* '' */
.icon-minus-square:before { content: '\e850'; } /* '' */
.icon-ok:before { content: '\e851'; } /* '' */
.icon-ok-circle:before { content: '\e852'; } /* '' */
.icon-ok-ring:before { content: '\e853'; } /* '' */
.icon-ok-square:before { content: '\e854'; } /* '' */
.icon-paste:before { content: '\e855'; } /* '' */
.icon-profile:before { content: '\e856'; } /* '' */
.icon-question:before { content: '\e857'; } /* '' */
.icon-question-circle:before { content: '\e858'; } /* '' */
.icon-question-ring:before { content: '\e859'; } /* '' */
.icon-redo:before { content: '\e85a'; } /* '' */
.icon-resize-max:before { content: '\e85b'; } /* '' */
.icon-resize-min:before { content: '\e85c'; } /* '' */
.icon-ring:before { content: '\e85d'; } /* '' */
.icon-save:before { content: '\e85e'; } /* '' */
.icon-search:before { content: '\e85f'; } /* '' */
.icon-sliders:before { content: '\e860'; } /* '' */
.icon-sort:before { content: '\e861'; } /* '' */
.icon-sort-down:before { content: '\e862'; } /* '' */
.icon-sort-up:before { content: '\e863'; } /* '' */
.icon-speaker:before { content: '\e864'; } /* '' */
.icon-speaker-low:before { content: '\e865'; } /* '' */
.icon-speaker-striked:before { content: '\e866'; } /* '' */
.icon-square:before { content: '\e867'; } /* '' */
.icon-standby:before { content: '\e868'; } /* '' */
.icon-stream:before { content: '\e869'; } /* '' */
.icon-trash:before { content: '\e86a'; } /* '' */
.icon-undo:before { content: '\e86b'; } /* '' */
.icon-upload:before { content: '\e86c'; } /* '' */
.icon-zoom-in:before { content: '\e86d'; } /* '' */
.icon-zoom-out:before { content: '\e86e'; } /* '' */
