
.icon-add:before { content: '\e800'; } /* '' */
.icon-alert:before { content: '\e801'; } /* '' */
.icon-chevron-up:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-copy:before { content: '\e805'; } /* '' */
.icon-cross:before { content: '\e806'; } /* '' */
.icon-crown:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-eye-striked:before { content: '\e809'; } /* '' */
.icon-forbidden:before { content: '\e80a'; } /* '' */
.icon-group:before { content: '\e80b'; } /* '' */
.icon-input:before { content: '\e80c'; } /* '' */
.icon-invert:before { content: '\e80d'; } /* '' */
.icon-join:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e80f'; } /* '' */
.icon-link-external:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e811'; } /* '' */
.icon-lock-closed:before { content: '\e812'; } /* '' */
.icon-lock-open:before { content: '\e813'; } /* '' */
.icon-logic:before { content: '\e814'; } /* '' */
.icon-profile:before { content: '\e815'; } /* '' */
.icon-question:before { content: '\e816'; } /* '' */
.icon-remove:before { content: '\e817'; } /* '' */
.icon-rotate:before { content: '\e818'; } /* '' */
.icon-speaker:before { content: '\e819'; } /* '' */
.icon-speaker-striked:before { content: '\e81a'; } /* '' */
.icon-standby:before { content: '\e81b'; } /* '' */
.icon-stream:before { content: '\e81c'; } /* '' */
.icon-warning:before { content: '\e81d'; } /* '' */
