@import "./theme.css";

:not(:defined) {

    /* === page === */
    emc-layout& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        flex-shrink: 0;
        width: min-content;
        height: min-content;
        min-width: 100%;
        min-height: 100%;
    }

    /* === navigation === */
    emc-navbar& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        top: 0;
        width: 100%;
        min-height: 2em;
        background-color: var(--navigation-back-color, #ffffff);
        background-image: var(--navigation-back-image, none);
        color: var(--navigation-text-color, #000000);
        flex-grow: 0;
        flex-shrink: 0;
        z-index: var(--z-index-navbar, 900500);
    }

    /* === modal === */
    emc-modal& {
        position: fixed !important;
        box-sizing: border-box !important;
        align-items: flex-start !important;
        justify-content: center !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 100% !important;
        cursor: default !important;
        overflow: hidden !important;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        z-index: var(--z-index-modal, 900600);
        pointer-events: all !important;
    }

    emc-modal-dialog& {
        position: fixed !important;
        box-sizing: border-box !important;
        align-items: flex-start !important;
        justify-content: center !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 100% !important;
        cursor: default !important;
        overflow: hidden !important;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        z-index: var(--z-index-modal, 900600);
        pointer-events: all !important;
    }

    /* === tabpanel === */
    emc-panel-tabpanel& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    /* === panel === */
    emc-panel-hbox& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: fit-content;
        min-height: min-content;
        min-width: min-content;
        overflow: hidden;
    }

    emc-panel-vbox& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: fit-content;
        min-height: min-content;
        min-width: min-content;
        overflow: hidden;
    }

    /* === form === */
    emc-form-container& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        max-width: 100%;
    }

    emc-form-fieldset& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }

    emc-form-row& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: stretch;
        flex-wrap: wrap;
        padding: 2px;
    }

    emc-form-field& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        min-width: 100%;
        width: 100%;
    }

    /* === input === */

    /* === input-button === */

    /* === select === */

    /* === button === */

    /* === switch === */

    /* === range === */

    /* === progress === */

    /* === image/icon === */
    emc-icon& {
        position: relative;
        box-sizing: border-box;
        display: inline-flex;
        width: 1em;
        height: 1em;
        user-select: none;
    }

    emc-fa-icon& {
        position: relative;
        box-sizing: border-box;
        display: inline-flex;
        width: 1em;
        height: 1em;
        user-select: none;
    }

    emc-labeledicon& {
        position: relative;
        box-sizing: border-box;
        display: inline-flex;
        width: 1em;
        height: 1em;
        user-select: none;
    }

    /* === tree === */

    /* === datagrid === */
    emc-datagrid& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 200px;
        min-width: 300px;
        margin: 8px;
        color: var(--datagrid-text-color, #000000);
        background-color: var(--datagrid-back-color, #ffffff);
        background-image: var(--datagrid-back-image, none);
        border-style: solid;
        border-width: var(--datagrid-border-width, 2px);
        border-color: var(--datagrid-border-color, #000000);
        border-radius: var(--datagrid-border-radius, 6px);
        line-height: normal;
        overflow: hidden;
    }

    /* === datalist === */
    emc-datalist& {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        min-height: 200px;
        min-width: 300px;
        margin: 8px;
        background-color: var(--datalist-back-color, #ffffff);
        background-image: var(--datalist-back-image, none);
        border-style: solid;
        border-width: var(--datalist-border-width, 2px);
        border-color: var(--datalist-border-color, #000000);
        border-radius: var(--datalist-border-radius, 6px);
        overflow: hidden;
        line-height: normal;
    }

    /* === dataview control toolbar === */
    emc-dataview-control-toolbar& {
        position: relative;
        box-sizing: border-box;
        display: block;
        flex-shrink: 0;
        margin: 8px;
        width: 300px;
        height: 2em;
        background-color: var(--input-back-color, #ffffff);
        background-image: var(--input-back-image, none);
        border-style: solid;
        border-width: var(--dataview-control-toolbar-border-width, 2px);
        border-color: var(--dataview-control-toolbar-border-color, #000000);
        border-radius: var(--dataview-control-toolbar-border-radius, 6px);
    }

}
