:root {

    /* === form === */
    --form-text-color: #000000;
    --form-back-color: #ffffff;
    --form-border-color: #000000; /* all; top_bottom right_left; top right bottom left*/
    --form-border-width: 2px;
    --form-border-radius: 0.25em;
    --form-hover-text-color: #000000;
    --form-hover-back-color: #eeeeee;
    --form-invalid-text-color: #a70000;
    --form-invalid-back-color: #ffeeee;

    /* === input === */
    --input-text-color: #000000;
    --input-back-color: #ffffff;
    --input-invalid-back-color: #ffcccc;
    --input-invalid-border-color: #b93d3d; /* all; top_bottom right_left; top right bottom left*/
    --input-disabled-text-color: #424242;
    --input-disabled-back-color: #999999;
    --input-disabled-border-color: #6a6a6a; /* all; top_bottom right_left; top right bottom left*/
    --input-focus-color: #06b5ff;
    --input-placeholder-text-color: #757575;

    /* === switch === */
    --switch-checked-back-color: #9ee1ec;
    --switch-indeterminate-back-color: #ffffff;
    --switch-unchecked-back-color: #ffffff;

    /* === range === */
    --range-track-back-color: #f5f5f5;
    --range-track-front-color: #9ee1ec;
    --range-track-disabled-back-color: #b5b5b5;
    --range-track-disabled-front-color: #464646;
    --range-track-back-top-color: var(--range-track-back-color, #f5f5f5);
    --range-track-back-bottom-color: var(--range-track-back-color, #f5f5f5);
    --range-track-front-top-color: var(--range-track-front-color, #9ee1ec);
    --range-track-front-bottom-color: var(--range-track-front-color, #9ee1ec);
    --range-track-disabled-back-top-color: var(--range-track-disabled-back-color, #b5b5b5);
    --range-track-disabled-back-bottom-color: var(--range-track-disabled-back-color, #b5b5b5);
    --range-track-disabled-front-top-color: var(--range-track-disabled-front-color, #464646);
    --range-track-disabled-front-bottom-color: var(--range-track-disabled-front-color, #464646);

    /* === select === */
    --select-option-divider-color: #949494;
    --select-option-text-color: #000000;
    --select-option-back-color: #ffffff;
    --select-option-marked-text-color: #000000;
    --select-option-marked-back-color: #9ee1ec;

    /* === button === */
    --button-text-color: #000000;
    --button-back-color: #cccccc;
    --button-hover-text-color: #ffffff;
    --button-hover-back-color: #000000;

    /* === fieldset === */
    --fieldset-back-color: #ffffff;
    --fieldset-border-width: 4px;
    --fieldset-border-radius: 0.5em;

}

form {
    color: var(--form-text-color, #000000);
    background-color: var(--form-back-color, #cccccc);
}