:root {

    /* === form === */
    --form-text-color: #000000;
    --form-back-color: #ffffff;
    --form-border-color: #000000; /* all; top_bottom right_left; top right bottom left*/
    --form-border-width: 2px;
    --form-border-radius: 0.25em;
    --form-hover-text-color: #000000;
    --form-hover-back-color: #eeeeee;
    --form-invalid-text-color: #a70000;
    --form-invalid-back-color: #ffeeee;

    /* === input === */
    --input-text-color: #000000;
    --input-back-color: #ffffff;
    --input-invalid-back-color: #ffcccc;
    --input-invalid-border-color: #b93d3d; /* all; top_bottom right_left; top right bottom left*/
    --input-disabled-text-color: #424242;
    --input-disabled-back-color: #999999;
    --input-disabled-border-color: #6a6a6a; /* all; top_bottom right_left; top right bottom left*/
    --input-focus-color: #06b5ff;

    /* === switch === */
    --switch-checked-back-color: #64d6eb;
    --switch-indeterminate-back-color: #ffffff;
    --switch-unchecked-back-color: #ffffff;

    /* === range === */
    --range-track-back-top-color: #f5f5f5;
    --range-track-back-bottom-color: #f5f5f5;
    --range-track-front-top-color: #64d6eb;
    --range-track-front-bottom-color: #64d6eb;

    /* === button === */
    --button-text-color: #000000;
    --button-back-color: #cccccc;
    --button-hover-text-color: #ffffff;
    --button-hover-back-color: #000000;

    /* === fieldset === */
    --fieldset-back-color: #ffffff;
    --fieldset-border-width: 4px;
    --fieldset-border-radius: 0.5em;

}