#content {
    justify-content: flex-end;
}
p {
    font-size: 1.2em;
    font-family: monospace;
    text-align: right;
}
#input {
    display: none;
    appearance: none;
    flex-grow: 0;
    width: 100%;
    min-width: 15em;
    height: 2em;
    padding: 0px 7px;
    margin: 0px;
    margin-right: auto;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 6px);
    font-size: 1rem;
}
#input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}
:host(:invalid) #input {
    background-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}
:host(:invalid) #input:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
#input::placeholder {
    color: var(--input-placeholder-text-color, #757575);
}
:host([editable]:not([editable="false"])) #value {
    display: none;
}
:host([editable]:not([editable="false"])) #input {
    display: block;
}