* {
    position: relative;
    box-sizing: border-box;
}
:host {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    background-color: var(--input-back-color, #ffffff);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 0.25em);
    user-select: none;
    overflow: hidden;
}
:host(:disabled) {
    color: var(--input-disabled-text-color, #424242) !important;
    background-color: var(--input-disabled-back-color, #999999) !important;
    border-color: var(--input-disabled-border-color, #6a6a6a) !important;
    cursor: default !important;
}
:host(:focus),
:host(:focus-within) {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
:host(:invalid) {
    background-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}
:host(:invalid:focus),
:host(:invalid:focus-within) {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
.placeholder {
    display: table;
    margin: 5px;
    padding: 5px 20px;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #cccccc);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--form-border-radius, 0.25em);
    font-weight: bold;
    cursor: pointer;
}
.placeholder:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #000000);
}
.placeholder:disabled {
    color: var(--input-disabled-text-color, #424242);
    background-color: var(--input-disabled-back-color, #999999);
    pointer-events: none;
}
.placeholder:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
#logic-container {
    display: block;
    flex: 1;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
}
.footer {
    display: flex;
    padding: 5px;
    border-top: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
}
:host(:invalid) .footer {
    border-top-color: var(--input-invalid-border-color, #ff4444);
}
:host(:disabled) .footer {
    border-top-color: var(--input-disabled-border-color, #6a6a6a) !important;
}