:host {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 200px;
    height: 200px;
    width: 300px;
    margin: 8px;
    color: var(--grid-text-color, #000000);
    background-color: var(--grid-back-color, #ffffff);
    border: solid var(--grid-border-width, 2px) var(--grid-border-color, #000000);
    border-radius: var(--grid-border-radius, 6px);
    overflow: auto;
}
#table {
    width: 100%;
    max-width: max-content;
    border-spacing: 0px;
}
:host([stretch]:not([stretch="false"])) #table {
    max-width: initial;
}
:host([nohead]:not([nohead="false"])) .head th {
    height: 0px;
    font-size: 0px;
}
.head th {
    position: sticky;
    top: 0px;
    min-width: 50px;
    height: var(--grid-header-height, 40px);
    padding: 0px 8px;
    color: var(--grid-header-text-color, #ffffff);
    background-color: var(--grid-header-back-color, #000000);
    white-space: pre;
    z-index: 1;
}
:host([stretch="last"]) th:last-child {
    width: 100%;
}
.head th:not(:first-child):not(.lastCell) {
    border-left: solid var(--grid-column-seperator-width, 2px) var(--grid-header-seperator-color, #ffffff);
}
.head th.lastCell {
    padding: 0px;
    min-width: 0px;
    width: 100%;
}
.head th.lastCell:not(:first-child) {
    box-shadow: inset white 2px 0px 0px;
}
#body tr > * {
    height: var(--grid-row-height, 34px);
    padding: 0px 8px;
    border-bottom: solid var(--grid-row-seperator-width, 1px) var(--grid-row-seperator-color, #696969);
}
#body tr > *.empty {
    color: #00000019;
}
#body tr > *.lastCell {
    padding: 0px;
}
#empty {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-width: calc(200px - var(--scrollbar-size, 0px) - 4px); /* --datagrid-border-width * 2 */
    min-height: 2rem;
    width: 100%;
    pointer-events: none;
    user-select: none;
}
#empty .empty-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    color: var(--grid-empty-text-color, #666666);
    background-color: var(--grid-empty-back-color, #dadada);
    white-space: normal;
    font-style: italic;
}
#options-container,
#empty.hidden {
    display: none;
}