:host {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 200px;
    height: 200px;
    width: 300px;
    margin: 8px;
    color: var(--grid-text-color, #000000);
    background-color: var(--grid-back-color, #ffffff);
    border: solid var(--grid-border-width, 2px) var(--grid-border-color, #000000);
    border-radius: var(--grid-border-radius, 6px);
    overflow: auto;
}
#table {
    width: 100%;
    max-width: max-content;
    border-spacing: 0px;
}
:host([stretch]:not([stretch="false"])) #table {
    max-width: initial;
}
:host([nohead]:not([nohead="false"])) .head th {
    height: 0px;
    font-size: 0px;
}
.head th {
    position: sticky;
    top: 0px;
    min-width: 50px;
    height: var(--grid-header-height, 40px);
    padding: 0px 8px;
    color: var(--grid-header-text-color, #ffffff);
    background-color: var(--grid-header-back-color, #000000);
    white-space: pre;
    z-index: 1;
}
:host([stretch="last"]) th:last-child {
    width: 100%;
}
.head th:not(:first-child):not(:nth-child(2)):not(.lastCell) {
    border-left: solid var(--grid-column-seperator-width, 2px) var(--grid-header-seperator-color, #ffffff);
}
.head th.lastCell {
    padding: 0px;
    min-width: 0px;
    width: 100%;
}
.head th.lastCell:not(:first-child) {
    box-shadow: inset white 2px 0px 0px;
}
#body tr > * {
    height: var(--grid-row-height, 34px);
    padding: 0px 8px;
    border-bottom: solid var(--grid-row-seperator-width, 1px) var(--grid-row-seperator-color, #696969);
}
#body tr > *.empty {
    color: #00000019;
}
#body tr > *.lastCell {
    padding: 0px;
}
#empty {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-width: calc(200px - var(--scrollbar-size, 0px) - 4px); /* --datagrid-border-width * 2 */
    min-height: 2rem;
    width: 100%;
    pointer-events: none;
    user-select: none;
}
#empty .empty-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    color: var(--grid-empty-text-color, #666666);
    background-color: var(--grid-empty-back-color, #dadada);
    white-space: normal;
    font-style: italic;
}
#options-container,
#empty.hidden {
    display: none;
}
.select-cell {
    display: none;
    text-align: center;
}
#body tr > .select-cell {
    padding: 0px;
}
.head th.select-cell {
    min-width: 40px;
    padding: 0px;
}
.select-cell:not(:nth-last-child(2)) {
    border-right: solid var(--grid-column-seperator-width, 2px) var(--grid-header-seperator-color, #ffffff);
}
:host([selectable]:not([selectable="false"])) .select-cell {
    display: table-cell;
}
:host([selectable="single"]) .head th.select-cell input[type="checkbox"],
:host([nohead]:not([nohead="false"])) .head th.select-cell input[type="checkbox"] {
    display: none;
}
.select-cell input[type="checkbox"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: inherit;
    cursor: pointer;
    appearance: none;
    outline: none;
}
.select-cell input[type="checkbox"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    flex-grow: 0;
    width: 1.4em;
    height: 1.4em;
    padding: 2px;
    margin: 0px;
    margin-right: auto;
    color: var(--grid-text-color, #000000);
    background-color: var(--grid-back-color, #ffffff);
    border: solid 2px var(--grid-text-color, #000000);
    border-radius: 0.3em;
    font-size: 16px;
    cursor: pointer;
}
th.select-cell input[type="checkbox"] {
    color: var(--grid-header-text-color, #ffffff);
    background-color: var(--grid-header-back-color, #000000);
    border-color: var(--grid-header-text-color, #ffffff);
}
.select-cell input[type="checkbox"]:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}
.select-cell input[type="checkbox"]::before {
    font-size: 1.1em;
    line-height: 1em;
    font-family: monospace;
    font-weight: bold;
    content: " ";
}
.select-cell input[type="checkbox"]:checked::before {
    content: "✓";
}
.select-cell input[type="checkbox"]:indeterminate::before {
    content: "•";
}
