#footer {
    display: flex;
}

#modal {
    max-width: min(1800px, calc(100vw - 50px));
    margin-top: 20px;
}

#content {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70vh;
}

::slotted(emc-select-image-preview) {
    margin: 5px;
    cursor: pointer;
}

#submit,
#cancel {
    margin: 2px;
}
