:host {
    box-sizing: border-box;
    z-index: 900900;
    pointer-events: all;
}
#footer {
    display: flex;
}
#window {
    width: auto;
    min-width: 20vw;
}
#content {
    flex-direction: row;
    flex-wrap: wrap;
}
::slotted(emc-select-icon-image-preview) {
    margin: 5px;
    cursor: pointer;
}
::slotted(emc-select-icon-image-preview:hover) {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #353935);
}
::slotted(emc-select-icon-image-preview.selected:hover) {
    color: var(--button-primary-hover-text-color, #ffffff);
    background-color: var(--button-primary-hover-back-color, #2734ba);
}