:root {

    /* === form === */
    --form-text-color: #000000;
    --form-back-color: #b8d5e2;
    --form-hover-text-color: #000000;
    --form-hover-back-color: #b8b8b8;
    --form-invalid-text-color: #a70000;
    --form-invalid-back-color: #ffeeee;
    --form-border-color: #000000; /* all; top_bottom right_left; top right bottom left*/

    --range-track-back-top-color: #a63636;
    --range-track-back-bottom-color: #a63636;

}
