:host {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}
* {
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    font-size: 1em;
}
#fieldset {
    padding: 10px;
    margin: 5px;
    background-color: var(--fieldset-back-color, #ffffff);
    border: solid var(--fieldset-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--fieldset-border-radius, 0.25em);
}
#legend {
    min-width: 50%;
    padding: 4px 12px;
    color: var(--form-text-color, #000000);
    background-color: var(--fieldset-back-color, #ffffff);
    border: solid var(--fieldset-border-width, 2px) var(--form-border-color, #000000);
    border-radius: var(--fieldset-border-radius, 0.25em);
}
#description {
    display: block;
    flex-shrink: 0;
    padding: 0px 5px;
    margin-bottom: 5px;
    color: var(--form-text-color, #000000);
    font-size: 0.9em;
    line-height: 1.4em;
    font-style: italic;
}
#description:empty {
    display: none;
}