:host {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}
* {
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    font-size: 1em;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--form-text-color, #000000);
    background-color: var(--form-back-color, #ffffff);
}
.container:hover {
    color: var(--form-hover-text-color, #000000);
    background-color: var(--form-hover-back-color, #eeeeee);
}
#label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 40px;
    flex-shrink: 0;
    width: 100%;
    min-width: 100px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}
:host([resettable]:not([resettable="false"])) #reset {
    display: block;
}
#text {
    margin-left: 5px;
    margin-bottom: 5px;
}
#text:empty {
    display: none;
}
#error {
    display: block;
    flex-shrink: 0;
    padding: 0px 5px;
    margin-top: 5px;
    font-size: 0.9em;
    font-style: italic;
    color: var(--form-invalid-text-color, #a70000);
    background-color: var(--form-invalid-back-color, #ffeeee);
}
#error:empty {
    display: none;
}
#description {
    display: block;
    flex-shrink: 0;
    padding: 0px 5px;
    margin-top: 5px;
    font-size: 0.9em;
    font-style: italic;
}
#description:empty {
    display: none;
}
::slotted(input:invalid) {
    background-color: var(--input-invalid-back-color, #ffcccc);
}