:host {
    display: flex;
    max-height: 100%;
    max-width: 100%;
}
.container {
    flex: 1;
    overflow: auto;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
::slotted(form) {
    min-height: 2em;
    margin: 0px;
    padding: 0px;
    color: var(--form-text-color, #000000);
    background-color: var(--form-back-color, #cccccc);
    border: solid var(--form-border-width, 2px) var(--form-border-color, #000000);
    border-radius: 0px !important;
}
::slotted(form:first-child) {
    border-top-left-radius: var(--form-border-radius, 0.25em) !important;
    border-top-right-radius: var(--form-border-radius, 0.25em) !important;
}
::slotted(form:not(:first-child)) {
    margin-top: calc(-1 * var(--form-border-width, 2px));
}
::slotted(form:last-child) {
    border-bottom-left-radius: var(--form-border-radius, 0.25em) !important;
    border-bottom-right-radius: var(--form-border-radius, 0.25em) !important;
}
:host(.has-header) ::slotted(form:first-child) {
    position: sticky;
    top: 0px;
    box-shadow: var(--page-back-color, #ffffff) 0px calc(-1 * var(--form-border-radius, 0.25em)) 0px 0px;
    z-index: 100;
}
:host(.has-footer) ::slotted(form:last-child) {
    position: sticky;
    bottom: 0px;
    box-shadow: var(--page-back-color, #ffffff) 0px var(--form-border-radius, 0.25em) 0px 0px;
    z-index: 100;
}
::slotted(form:focus-within) {
    z-index: 101 !important;
}
::slotted(form > .unknown-form-element) {
    padding: 10px;
}